<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo"><a routerLink="/home">Maria Fernanda | Portafolio</a></h1>
        <nav class="rk-navigation">
            <ul class="rk-menu au-xs-ta-center">
                <li class="k-menu__item">
                    <div class="ae-grid__item item-lg-4 au-xs-ta-center social-menu">
                        <a href="https://www.linkedin.com/in/mar%C3%ADa-fernanda-torres-garrido-a86a6830/" target="_blank" class="rk-social-btn ">
                            <img src="assets/img/linkedin.svg" alt="linkedin">
                        </a>
                        <a href="https://twitter.com/fershizz18" target="_blank" class="rk-social-btn ">
                            <svg>
                                <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
                            </svg>
                        </a>
                        <a href="https://co.pinterest.com/ferchizz18/" target="_blank" class="rk-social-btn ">
                            <img src="assets/img/pinterest.svg" alt="linkedin">
                        </a>
                    </div>
                </li>
                <!-- <li class="rk-menu__item"><a routerLink="/contact" class="rk-menu__link">Contáctame</a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>
