<header class="rk-portfolio-cover  item-inside-1"
    *ngIf="item.image"
    [ngStyle]="{'background-image': setImage(item.image) }"
>
    <div class="item-inside__meta">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{item.name}}</h1>
        <p class="ae-theta rk-portfolio-category ">{{item.activity}}</p>
    </div>
</header>
<div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
            <h2 class="rk-portfolio-inner-title ">{{item.subtext}}</h2>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
            <p class="rk-portfolio-inner-client "><span class="ae-lambda">Cliente: </span>
                <span class="ae-u-bolder">{{item.name}}</span>
            </p>
            <p class="au-underline rk-portfolio-inner-website ">
                <a [href]="item.url" target="_blank" class="ae-kappa">{{item.url}}</a>
            </p>
            <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">{{item.date_work}}</p>
        </div>
    </div>
</div>

<div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">

    <div *ngFor="let obj of item.details">
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1" *ngIf="obj.title || obj.text">
            <div class="ae-grid__item item-lg-8 item-lg--offset-2">
                <h4 class="ae-u-bolder" *ngIf="obj.title">{{obj.title}}</h4>
                <p class="ae-eta">{{obj.text}}</p>
            </div>
        </div>
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg--auto" *ngIf="!obj.type || (obj.type && obj.type == 'image')">
                <img [src]="obj.img" alt="Urku Portfolio">
            </div>
            <div class="ae-grid__item item-lg--auto" *ngIf="obj.type && obj.type == 'video'">
                <video width="640" height="480" controls>
                    <source [src]="obj.img" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>

</div>
