<div class="rk-layout-ctrl-mobile">
    <svg viewBox="0 0 9 9" class="layout-mob-1">
        <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-2">
        <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-3">
        <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-4">
        <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
</div>
<section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">
    <div class="rk-portfolio__items">
        
        <a *ngFor="let item of projects; let i = index"
            class="rk-item rk-item--flex rk-size-12 rk-tosize-6" 
            [ngClass]="{'rk-landscape': i == 0, 'rk-portrait': i > 0}" 
            [ngStyle]="{'background-image': setImage(item.image) }"
            [routerLink]="['/item', item.id]"
        >
            <div class="item-meta">
                <h2>{{item.name}}</h2>
                <p>{{item.activity}}</p>
            </div>
        </a>
    </div>
</section>
